asgiref==3.10.0
black==25.11.0
click==8.1.8
Django==5.2.9
gunicorn==23.0.0
h11==0.14.0
httptools==0.6.4
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.6
sqlparse==0.5.3
supervisor==4.3.0
uvicorn==0.38.0
uvloop==0.22.1
